{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h1>Aprenda melhor com monitoria</h1>
        <p>Agende horários com monitores da sua disciplina e evolua nos estudos de forma prática e rápida. </p>

        <a href="/horarios/" class="btn btn-primary">Agendar agora</a>

        <span class="data">
            Hoje: {{ data|date:"d/m/Y H:i" }}
        </span>
    </div>

    <div class="hero-image">
        <img src="{% static 'horario.svg' %}" alt="Aluno escolhendo horario">
    </div>

</section>
{% endblock %}